<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/userPage.css">

    <title>Your bookings</title>
</head>

<body>
    <center><h1 class="heading" style="margin:2rem;">YOUR PREVIOUS AMBULANCE BOOKING RECORDS</h1></center>
            <div class="container-fluid" style="background-color:rgba(245, 245, 220, 0.605); margin: 3rem;">
                <div class="container" >
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">PATIENT NAME</th>
                                <th scope="col">DATE AND TIME OF BOOKING</th>
                                <th scope="col">PHONE NO</th>
                                <th scope="col">DOB</th>
                                <th scope="col">ADDRESS</th>
                                <th scope="col">REASON FOR BOOKING</th>
                                <th scope="col">MEDICAL CONDITION</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in obj %}
                            <tr>
                                <td>{{i.fname}}&nbsp;{{i.midname}}&nbsp;{{i.lname}}</td>
                                <td>{{i.dateOfRequest}}&nbsp;{{i.timeOfRequest}}&nbsp;{{i.am_pm}}</td>
                                <td>{{i.phNo}}</td>
                                <td>{{i.dob}}</td>
                                <td>{{i.Street}}&nbsp;{{i.City}}&nbsp;{{i.State}}&nbsp;{{i.Zip}}
                                </td>
                                <td>{{i.resonForHos}}</td>
                                <td>{{i.medical_con}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Option 1: Bootstrap Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>


</body>

</html>