<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/index.css">
  <link rel="icon" href="media/logo.png" type="image/icon type">

  <title>Welcome to Online Ambulance Booking</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="navbar-brand nav me-auto mb-2 mb-lg-0" href="#"><img src="\media\logo.png" height="70">
    </a>
    <h3 style="padding-right: 5rem;">WELCOME TO ONLINE AMBULANCE BOOKING SYSTEM</h3>
    <ul class="nav nav-pills justify-content-end">
      <li class="nav-item">
        <a class="nav-link active " aria-current="page"
          style="background-color: rgb(207, 10, 10);margin-left: 2rem; padding: .5rem 2rem ;" href="login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" style="background-color: rgb(207, 10, 10); margin-left: 2rem; padding: .5rem 2rem ;"
          href="signUp">SignUp</a>
      </li>
    </ul>
  </nav>

  <div style="background-color:white; width: 100%; height: 650px;">

    <div style=" background-color:lightcoral;  width: 50%; height: 550px; float:left;">
      <h1 class="text-center title-1">ONLINE AMBULANCE BOOKING</h1>
      <h2 class="text-center title-2">For Emergency Medical Service
      </h2>
      <P class="text-center mb-4 para">Help / Rescues the Patient in case of the Emergency situation by doing just a
        click.
        Medulance Ambulance comes right in front of the door for help.

      </P>
      <div class="d-grid gap-2 col-6 mx-auto">
        <a class="btn btn-outline-danger" href="/emg_booking">
          <h5>Book Now</h5>
        </a>
        <span class="text-center">or</span>
        <h3 class="text-center title-2">Dial toll free helpline number provided by Indian government for ambulance
        </h3>
        <h1 class="text-center title-1">108</h1>



      </div>


    </div>

    <div style="background-color:smokewhite; width:50%; height: 550px; float:left;">
      <!-- <div class="d-flex justify-content-center align-items-center">
        <div class="position-relative">
          <img src="/media/ambulance-1.png" alt="Ambulance" class="position-absolute top-0 start-0 w-100 h-100 ambulance">
        </div>
      </div> -->
      <img src="/media/bg-image2.jpg" height="550px" width="750px" alt="bg-image">
    </div>

    <div style="margin-top: 2rem;" class="container">
      <p style="margin-top:5px;padding-top:5px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
        molestias aspernatur ipsum quam sequi
        repellendus id fugiat explicabo. Mollitia exercitationem similique fugiat reiciendis dignissimos perferendis
        quisquam aut atque odio doloribus et inventore, corrupti obcaecati ipsa quam sunt eveniet minima minus adipisci
        blanditiis quaerat illo. Recusandae a qui similique nihil architecto! Blanditiis excepturi magni esse tempore
        aliquam perferendis voluptatibus, possimus distinctio atque numquam dolores in ea? Magni delectus officia est
        iure sunt excepturi. Quo saepe dicta impedit! Beatae, minus officia excepturi nesciunt nisi similique
        accusantium voluptatibus nostrum explicabo molestias accusamus, rem earum vel? Provident nisi dolore ad
        voluptate eos ipsa dolorum vel ratione sed consequuntur commodi, consequatur libero nobis tempore soluta
        asperiores modi hic? Laboriosam quo repellat tempore unde excepturi, incidunt dolores vel maiores fugit animi
        repellendus harum amet eius distinctio consectetur perferendis. Eius nostrum deleniti ea nisi sed dolores labore
        harum dicta quos? Reiciendis, adipisci libero dolor beatae voluptatum earum sapiente eveniet? At adipisci, nemo
        enim ad et ex fuga maiores tempora, architecto impedit quaerat? Voluptate, hic mollitia amet obcaecati optio
        quisquam quasi iste fugit laborum doloribus dignissimos voluptates dolores provident nam veritatis quaerat
        aliquid at itaque ducimus, illo aliquam qui, illum eaque exercitationem. Quos esse voluptatum neque laborum.
      </p>
      <p style="margin-top:5px;padding-top:5px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
        molestias aspernatur ipsum quam sequi
        repellendus id fugiat explicabo. Mollitia exercitationem similique fugiat reiciendis dignissimos perferendis
        quisquam aut atque odio doloribus et inventore, corrupti obcaecati ipsa quam sunt eveniet minima minus adipisci
        blanditiis quaerat illo. Recusandae a qui similique nihil architecto! Blanditiis excepturi magni esse tempore
        aliquam perferendis voluptatibus, possimus distinctio atque numquam dolores in ea? Magni delectus officia est
        iure sunt excepturi. Quo saepe dicta impedit! Beatae, minus officia excepturi nesciunt nisi similique
        accusantium voluptatibus nostrum explicabo molestias accusamus, rem earum vel? Provident nisi dolore ad
        voluptate eos ipsa dolorum vel ratione sed consequuntur commodi, consequatur libero nobis tempore soluta
        asperiores modi hic? Laboriosam quo repellat tempore unde excepturi, incidunt dolores vel maiores fugit animi
        repellendus harum amet eius distinctio consectetur perferendis. Eius nostrum deleniti ea nisi sed dolores labore
        harum dicta quos? Reiciendis, adipisci libero dolor beatae voluptatum earum sapiente eveniet? At adipisci, nemo
        enim ad et ex fuga maiores tempora, architecto impedit quaerat? Voluptate, hic mollitia amet obcaecati optio
        quisquam quasi iste fugit laborum doloribus dignissimos voluptates dolores provident nam veritatis quaerat
        aliquid at itaque ducimus, illo aliquam qui, illum eaque exercitationem. Quos esse voluptatum neque laborum.
      </p>
      <img id="image1" style="margin: 2rem 0px; padding:2rem 0px;" src="/media/bg-image1.jpg" height="400" width="100%"
        alt="bg-image">
    </div>

    <h3 class="text-center title-2"> Why Choose Us?
    </h3>
    
    <div class="container">
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card h-50">
            <img class="imgs" src="media/Emergency-alert.png" width="100" height="50" alt="...">
            <h5 class="card-title">Emergency assistance time of 15 minutes or less</h5>
          </div>
        </div>
        <div class="col">
          <div class="card h-50">
            <img class="imgs" src="/media/direct_on.webp" width="100" height="50" alt="24-hours-1">
            <h5 class="card-title">24/7 hours Availibility</h5>
          </div>
        </div>
        <div class="col">
          <div class="card h-50">
            <img class="imgs" src="media/ambulance-1.png" width="100" height="50" alt="...">
  
            <h5 class="card-title">Biggest fleet of ambulances across India</h5>
  
          </div>
        </div>
        <div class="col">
          <div class="card h-50">
            <img class="imgs" src="media/easy_to_use.webp" width="100" height="50" alt="...">
  
            <h5 class="card-title">Easy To Use
            </h5>
          </div>
        </div>
      </div>

      <p style="margin-top:5px;padding-top:5px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
        molestias
        aspernatur ipsum quam sequi
        repellendus id fugiat explicabo. Mollitia exercitationem similique fugiat reiciendis dignissimos perferendis
        quisquam aut atque odio doloribus et inventore, corrupti obcaecati ipsa quam sunt eveniet minima minus adipisci
        blanditiis quaerat illo. Recusandae a qui similique nihil architecto! Blanditiis excepturi magni esse tempore
        aliquam perferendis voluptatibus, possimus distinctio atque numquam dolores in ea? Magni delectus officia est
        iure sunt excepturi. Quo saepe dicta impedit! Beatae, minus officia excepturi nesciunt nisi similique
        accusantium voluptatibus nostrum explicabo molestias accusamus, rem earum vel? Provident nisi dolore ad
        voluptate eos ipsa dolorum vel ratione sed consequuntur commodi, consequatur libero nobis tempore soluta
        asperiores modi hic? Laboriosam quo repellat tempore unde excepturi, incidunt dolores vel maiores fugit animi
        repellendus harum amet eius distinctio consectetur perferendis. Eius nostrum deleniti ea nisi sed dolores labore
        harum dicta quos? Reiciendis, adipisci libero dolor beatae voluptatum earum sapiente eveniet? At adipisci, nemo
        enim ad et ex fuga maiores tempora, architecto impedit quaerat? Voluptate, hic mollitia amet obcaecati optio
        quisquam quasi iste fugit laborum doloribus dignissimos voluptates dolores provident nam veritatis quaerat
        aliquid at itaque ducimus, illo aliquam qui, illum eaque exercitationem. Quos esse voluptatum neque laborum
        beatae?
      </p>
      <p style="margin-top:5px;padding-top:5px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
        molestias
        aspernatur ipsum quam sequi
        repellendus id fugiat explicabo. Mollitia exercitationem similique fugiat reiciendis dignissimos perferendis
        quisquam aut atque odio doloribus et inventore, corrupti obcaecati ipsa quam sunt eveniet minima minus adipisci
        blanditiis quaerat illo. Recusandae a qui similique nihil architecto! Blanditiis excepturi magni esse tempore
        aliquam perferendis voluptatibus, possimus distinctio atque numquam dolores in ea? Magni delectus officia est
        iure sunt excepturi. Quo saepe dicta impedit! Beatae, minus officia excepturi nesciunt nisi similique
        accusantium voluptatibus nostrum explicabo molestias accusamus, rem earum vel? Provident nisi dolore ad
        voluptate eos ipsa dolorum vel ratione sed consequuntur commodi, consequatur libero nobis tempore soluta
        asperiores modi hic? Laboriosam quo repellat tempore unde excepturi, incidunt dolores vel maiores fugit animi
        repellendus harum amet eius distinctio consectetur perferendis. Eius nostrum deleniti ea nisi sed dolores labore
        harum dicta quos? Reiciendis, adipisci libero dolor beatae voluptatum earum sapiente eveniet? At adipisci, nemo
        enim ad et ex fuga maiores tempora, architecto impedit quaerat? Voluptate, hic mollitia amet obcaecati optio
        quisquam quasi iste fugit laborum doloribus dignissimos voluptates dolores provident nam veritatis quaerat
        aliquid at itaque ducimus, illo aliquam qui, illum eaque exercitationem. Quos esse voluptatum neque laborum
        beatae?
      </p>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</body>

</html>