<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/userPage.css">

    <title>search here</title>
</head>

<body>
    <center>

        <div style="background-color: rgba(245, 245, 220, 0.605); margin:3rem; padding: 3rem;" class="container">
            <div style="background-color:transparent; margin:3rem; padding: 3rem;" class="container-fluid">
                <h2 style="color:red; font-family: 'Times New Roman', Times, serif; font-weight: bolder;">Search Nearest Hospital</h2>

                <form method="get" action="{% url 'nearby_hos_usr' %}">
                    <label for="city">Enter City:</label>
                    <input type="text" name="city" id="city">
                    <input type="submit" value="Search">
                </form>
            </div>
        </div>
    </center>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


</body>

</html>